.main {
    background-color: aqua;
  
}

.showDiv {
  
    grid-template-columns: auto auto;

}


.header {
    background-color: black;
    color: white;
    font-size: x-large;
    font-family: Arial;
    padding: 200px
}