.main {
    background-color: aqua;
  
}

.showDiv {
  width: 60%;
    grid-template-columns: auto auto;
    margin: auto

}



.header {
    background-color: black;
    color: white;
    font-size: x-large;
    font-family: Arial;
    padding: 100px;
    
}